body {
    background-image: url('../background/fort-boyard-corridor.webp');
    background-size: cover; /* L'image couvre toute la fenêtre */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre noire légèrement floutée */
}

.content-box {
    background-color: rgba(0, 0, 0, 0.5); /* Noir avec 70% d'opacité */
    border-radius: 15px; /* Bords arrondis de 15px */
    padding: 20px 40px; /* Espacement interne pour éviter que le contenu touche les bords */
    color: white; /* Texte en blanc pour contraster avec le fond noir */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optionnel : ombre pour un effet visuel */
    margin: auto; /* Optionnel : centre la div horizontalement */
    height: 70%;
    width: 60%;
}

.content-box h2 {
    font-size: 1.8rem;
    text-align: center;
}

.content-box h3 {
    font-size: 1.4rem;
    text-align: center;
}

.content-box p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

.content-box .challenge-box p {
    margin: 0px;
}

.challenges-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style des boutons */
.challenge-button {
    display: flex; /* Active le flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    width: 180px; /* Dimensions fixes pour uniformiser */
    height: 40px;
    margin-top: 10px; /* Espacement entre les boutons */
    border-radius: 18px; /* Bords arrondis */
    background-color: #bd923c;     /* Couleur de fond jaune pastel */
    border: 2px solid #a26f08;     /* Bordure fine pour le design */
    color: white; /* Couleur du texte */
    font-size: 1.4rem; /* Taille du texte */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    border: none; /* Supprime les bordures par défaut */
    cursor: pointer; /* Change le curseur en "pointeur" lors du survol */
    transition: all 0.2s ease; /* Animation pour le survol */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); /* Ombre */
    text-decoration: none;
}

/* Effet au survol */
.challenge-button:hover {
    background-color: #cfa758;     /* Couleur légèrement plus vive au survol */
    border-color: #b98826;         /* Change la couleur de la bordure au survol */
    transform: scale(1.05);         /* Agrandit légèrement le bouton au survol */
}

.inactive-challenge-button {
    display: flex; /* Active le flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    width: 180px; /* Dimensions fixes pour uniformiser */
    height: 40px;
    margin-top: 10px; /* Espacement entre les boutons */
    border-radius: 18px; /* Bords arrondis */
    background-color: #bd923c82;     /* Couleur de fond jaune pastel */
    border: 2px solid #a26f08b3;     /* Bordure fine pour le design */
    color: white; /* Couleur du texte */
    font-size: 1.4rem; /* Taille du texte */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    border: none; /* Supprime les bordures par défaut */
    cursor: pointer; /* Change le curseur en "pointeur" lors du survol */
}

.final-challenge-button {
    display: inline-block;          /* Traite le lien comme un bouton */
    padding: 10px 20px;            /* Ajoute de l'espace à l'intérieur du bouton */
    margin-top: 5px;
    text-align: center;            /* Centre le texte dans le bouton */
    color: #dfdfdf;                   /* Couleur du texte (gris foncé pour le contraste) */
    text-decoration: none;
    background-color: #bd923c;     /* Couleur de fond jaune pastel */
    border: 2px solid #a26f08;     /* Bordure fine pour le design */
    border-radius: 32px;           /* Contours arrondis */
    font-weight: bold;             /* Texte en gras */
    transition: all 0.2s ease;     /* Animation fluide pour les effets */
    font-size: 1.3rem;
}

.final-challenge-button:hover {
    background-color: #cfa758;     /* Couleur légèrement plus vive au survol */
    border-color: #b98826;         /* Change la couleur de la bordure au survol */
    transform: scale(1.05);         /* Agrandit légèrement le bouton au survol */
    cursor: pointer;
}

.challenge-box {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 2px 40px;
    margin-bottom: 10px;
    border-radius: 24px;
    justify-content: space-between;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.4); /* Noir avec 70% d'opacité */
    border-radius: 25px; /* Bords arrondis de 15px */
    color: white; /* Texte en blanc pour contraster avec le fond noir */
    box-shadow: 0 4px 6px rgba(126, 126, 126, 0.5); /* Optionnel : ombre pour un effet visuel */
}