<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles généraux -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/global-style.css')}}">
    <!-- Import de la feuille de style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/global-logic-style.css')}}">
    <title>Bataille Navale</title>
</head>
<body>

    <h1>Bataille Navale</h1>

    {% if win == "player" %}
        <div id="right-answer" class="hidden">
            <p>Bravo, vous avez gagné !</p>
            <a href="{{url_for('newKey', key_number='1')}}" class="key-button">Ouvrir la boite à clé 🔑</a>
        </div>
    {% elif win == "ordi" %}
        <div id="wrong-answer" class="hidden">
            <p>Dommage, vous avez perdu</p>
            <a href="{{url_for('fortBoyard')}}">Retourner sur le fort 🚪</a>
        </div>
    {% else %}

        <div id="game" class="game-box">
            <div id="error-message">
                {% if moment_game == "beginning" %}
                    <div>Vous devez placer 4 bateaux sur votre grille pour commencer.</div>
                {% endif %}
                {% if error == "bateau" %}
                    <div>Vous devez placer 4 bateaux sur la grille !</div>
                {% endif %}
                {% if error == "tir" %}
                    <div>Vous devez tirer 1 missile par tour !</div>
                {% endif %}
            </div>
            <form method="POST">
                <div id="game-board">
                    <!-- Grille du joueur 1 -->
                    <table id="player1" border="1">
                        <caption>Votre grille</caption>
                        <tbody>
                            {% for row in range(taille_grille) %}
                                <tr>
                                    {% for col in range(taille_grille) %}
                                        <td>
                                            {% if moment_game == "beginning" %}
                                                <div id="user-input-box-{{row}}-{{col}}" class="user-input-box">
                                                    <input type="checkbox" name="cell" value="{{row}}-{{col}}">
                                                </div>
                                            {% elif moment_game == "middle" %}
                                                {% if (row, col) in liste_tir_ordi and liste_tir_ordi[row, col] %}
                                                    <div id="couler">💥</div>
                                                {% elif (row, col) in liste_tir_ordi %}
                                                    <div id="toucher">✖️</div>
                                                {% elif (row, col) in bateaux %}
                                                    <div id = "with-boat">⛵</div>
                                                {% else %}
                                                    <div id="empty">🌊</div>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Grille du joueur 2 -->
                    <table id="player2" border="1">
                        <caption>Grille du maître</caption>
                            <tbody>
                                {% for row in range(taille_grille) %}
                                    <tr>
                                        {% for col in range(taille_grille) %}
                                            <td>
                                                {% if moment_game == "middle" %}
                                                    {% if (row, col) in liste_tir and liste_tir[row, col] %}
                                                        <div id="couler">💥</div>
                                                            {% elif (row, col) in liste_tir %}
                                                        <div id="toucher">✖️</div>
                                                    {% else %}
                                                        <div id="user-input-box-{{row}}-{{col}}" class="user-input-box">
                                                            <input type="checkbox" name="cell" value="{{row}}-{{col}}">
                                                        </div>
                                                    {% endif %}
                                                {% elif moment_game == "beginning" %}
                                                    <div></div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
                <button id="submit-answer">Prochain Tour</button>
            </form>
        </div>
    {% endif %}
</body>
</html>