<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles généraux -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/global-style.css')}}">
    <!-- Styles spécifiques à cette page -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/final-challenge-style.css')}}">
    <title>Epreuve Finale</title>
</head>
<body>
    <h1>Epreuve Finale</h1>
    <div class="content-box">
        <h2>Vous devez réussir à déchiffrer le code pour ouvrir la porte et accéder au trésor !</h2>
        <p>Vous avez récupéré {{ keyCount }} 🗝️</p>
        <p>Vous commencez donc avec {{keyCount}} indices qui vous aideront à trouver le code.</p>

        <div class="clues-box">
            <ul>
                {% for i in range(number_of_clues) %}
                    <li>{{ clues_list[i] }}</li>
                {% endfor %}
            </ul>
        </div>

        {% if user_answer == None %}
            <form method="POST">
                <div id="user-input-box" class="user-input-box">
                    <input id="user-answer" name="user-answer" type="text" placeholder="Entrez votre réponse" required>
                    <button id="submit-answer">Envoyer</button>
                </div>
            </form>

        {% elif number_of_try < 3 %}

            {% if user_answer == code_word.lower() %}
                <div id="right-answer" class="hidden">
                    <p>Bravo, tu as trouvé la bonne réponse !</p>
                    <a href="{{url_for('treasureRoom')}}" class="exit-button">Aller à la salle du trésor 🪙</a>
                </div>
            {% else %}
                <p>Mauvaise réponse, tu as encore {{ 3-number_of_try }} essai(s)</p>
                <form method="POST">
                    <div id="user-input-box" class="user-input-box">
                        <input id="user-answer" name="user-answer" type="text" placeholder="Entrez votre réponse" required>
                        <button id="submit-answer">Envoyer</button>
                    </div>
                </form>
            {% endif %}
                

        {% else %}

            <div id="wrong-answer" class="hidden">
                <p>Mauvaise réponse ! La bonne réponse était : {{ code_word }}</p>
                <a href="{{url_for('menu')}}" class="exit-button">Quitter le fort 🚪</a>
            </div>
        
        {% endif %}
    </div>
</body>
</html>
