<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles généraux -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/global-style.css')}}">
    <!-- Styles spécifiques à cette page -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/global-random-style.css')}}">
    <title>Epreuve : Deviner le nombre aléatoire</title>
</head>
<body>
    <h1>Epreuve : Deviner le nombre aléatoire</h1>
    <div class="question-box">
        <p>Choisis un nombre entre 1 et 50 inclus. Celui qui sera le plus proche du nombre correct gagne. Bonne chance !</p>
    </div>

    {% if user_answer == None %}
        <!-- Formulaire pour la réponse utilisateur -->
        <form method="POST">
            <div id="user-input-box" class="user-input-box">
                <input id="user-answer" name="user-answer" type="number" min="1" max="50" placeholder="Entrez un nombre" required>
                <button id="submit-answer">Envoyer</button>
            </div>
        </form>
    {% elif user_diff < master_diff %}
        <!-- Résultat : L'utilisateur a gagné -->
        <div id="right-answer">
            <p>Bravo, tu as été le plus proche ! Le nombre était {{ right_answer }}, le maître avait choisi : {{ master_answer }}, et vous aviez choisi {{user_answerx}}.</p>
            <a href="{{ url_for('newKey', key_number=1) }}" class="key-button">Ouvrir la boîte à clé 🔑</a>
        </div>
    {% elif user_diff == master_diff %}
        <!-- Egalité -->
        <div id="egality">
            <p>Egalité ! Le chiffre à deviner était : {{ right_answer }}, le maître avait choisi : {{ master_answer }}, et vous aviez choisi {{user_answer}}.</p>
            <a href="{{ url_for('randomNumber') }}">Rejouer ⏪</a>
        </div>
    {% else %}
        <!-- Résultat : L'utilisateur a perdu -->
        <div id="wrong-answer">
            <p>Perdu ! Le chiffre à deviner était : {{ right_answer }}, le maître avait choisi : {{ master_answer }}, et vous aviez choisi {{user_answer}}.</p>
            <a href="{{ url_for('fortBoyard') }}">Retourner sur le fort 🚪</a>
        </div>
    {% endif %}
</body>
</html>
