<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fort Boyard Simulator</title>
</head>
<body>
    <h1>Vous êtes dans le fort</h1>
    <h2>Nombre actuel de clés : {{key_count}}</h2>
    <a href="{{url_for('nextChallenge')}}">Aller à la prochaine épreuve</a>
    {% if debug_mode == True %}
        <div class="debug-mode">
            <h3>Mode debug :</h3>
            <p>Cette section est uniquement visible lorsque le mode débug est activé. Elle sert uniquement à tester indépendamment certaines parties du projet, mais n'a pas d'utilité dans le jeu.</p>
            <a href="{{url_for('challengesList')}}">🛠️ Liste de toutes les énigmes</a>
        </div>
    {% endif %}
</body>
</html>