<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fort Boyard Simulator</title>
</head>
<body>
    <a href="{{url_for('fortBoyard')}}">Aller sur le fort</a>

    <h1>Bienvenue à Fort Boyard !</h1>
    <p>Voici les règles pour votre aventure : vous formerez une équipe de 1 à 3 personnes. Ensemble, vous devrez affronter 6 épreuves pour récupérer un maximum de clés. Chaque clé gagnée vous donnera un indice crucial pour la fin du jeu.</p>
    <p>Avant chaque épreuve, vous choisirez son type : mathématiques, logique, hasard, ou les célèbres énigmes du Père Fouras. L’épreuve sera ensuite tirée au sort. Et attention ! Vous devrez aussi choisir quel coéquipier relèvera le défi avec vous.</p>
    <p>Alors, stratégie, courage et un brin de chance : êtes-vous prêts à affronter les mystères du fort ? </p>
</body>
</html>
