<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles généraux -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/global-style.css')}}">
    <!-- Styles spécifiques à cette page -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/new-key-style.css')}}">
    <title>Nouvelle clé !</title>
</head>
<body>
    <h1>Vous venez de récupérer une nouvelle clé ! 🔑</h1>

    <div class="video-box">

        <video autoplay muted loop playsinline>
            <source src="{{ url_for('static', filename=video_path)}}" type="video/mp4">
            Votre navigateur ne supporte pas ce format vidéo.
        </video>

    </div>

    <div class="button-box">
        <a href="{{url_for('fortBoyard')}}" class="exit-button">Sortir de la salle</a>
    </div>
</body>
</html>