<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Epreuve : Père Fouras</title>
</head>
<body>
    <h1>Epreuve : Question du Père Fouras</h1>
    <div class="question-box">
        <p> {{ question }} </p>
    </div>
    {% if user_answer == None %}
        <form method="POST">
            <div id="user-input-box" class="user-input-box">
                <input id="user-answer" name="user-answer" type="text" placeholder="Entrez votre réponse" required>
                <button id="submit-answer">Envoyer</button>
            </div>
        </form>
    {% elif user_answer == right_answer.lower() %}
        <div id="right-answer" class="hidden">
            <p>Bravo, tu as trouvé la bonne réponse !</p>
            <a href="{{url_for('newKey', key_number='1')}}">Ouvrir la boite à clé 🔑</a>
        </div>
    {% elif user_answer != None %}
        <div id="wrong-answer" class="hidden">
            <p>Mauvaise réponse ! La bonne réponse était : {{ right_answer }}</p>
            <a href="{{url_for('fortBoyard')}}">Retourner sur le fort 🚪</a>
        </div>
    {% endif %}
</body>
</html>
