<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix de l'équipe</title>
</head>
<body>
    <h1>Choix de l'équipe</h1>
    <h2>Vous allez devoir composer votre équipe, que vous garderez tout au long du jeu !</h2>
    <p>Entrer les noms des joueurs !</p>

    {% if player_indice > 1 %}
        <div class="players-list">
            <ul>
                {% for i in range(player_indice-1) %}
                    <li>{{ team[i] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if not team_completed %}

        <form method="POST">

            <div class="input-box">
                <input id="player-name" name="player-name" type="text" placeholder="Joueur {{ player_indice }}" required>
                {% if player_indice < 3 %}
                    <div class="add-player-box">
                        <button id="add-player" name="action" value="add-player">Ajouter un joueur</button>
                    </div>
                {% endif %}
            </div>
                
            <div class="confirm-box">
                <button id="confirm-team" name="action" value="confirm-team">Valider l'équipe</button>
            </div>

        </form>
    
    {% else %}

        <h2>Vous pouvez à présent aller sur le fort !</h2>
        <a href="{{url_for('fortBoyard')}}">Aller sur le fort</a>

    {% endif %}

</body>
</html>